.mainContainer {
    width: 60vw;
    margin: 5px auto;
    padding: 5px 0px;
}

.mainContainer h1 {
    text-align: center;
    margin-top: 5px;
    font-size: 1.9em;
}

.container {
    margin: 15px 2px;
}

.container h2 {
    font-size: 1.4em;
    margin: 2px 0px;
}

.container p {
    font-size: 0.9em;
}

.list {
    font-size: 0.9em;
    margin-left: 40px;
}

@media (max-width: 768px) {
    .mainContainer {
        width: 90vw;
        font-size: 13px;
    }
}